In [5]:
# Import libraries
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
import requests
import matplotlib.pyplot as plt
import json
import re
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [7]:
# Read csv from raw github link and create dataframe
url = 'https://raw.githubusercontent.com/dianeooty/datascience_salary/main/Resources/layoffs_cleaned.csv'
layoffs_df = pd.read_csv(url)

In [6]:
# Read csv from raw github link and create dataframe
url = 'https://raw.githubusercontent.com/dianeooty/datascience_salary/main/Resources/salaries_cleaned.csv'
salaries_df = pd.read_csv(url)

In [8]:
# View dataframe info
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                62642 non-null  object
 1   date                     62642 non-null  object
 2   company                  62637 non-null  object
 3   level                    62523 non-null  object
 4   title                    62642 non-null  object
 5   totalyearlycompensation  62642 non-null  int64
 6   location                 62642 non-null  object
 7   latitude                 62642 non-null  float64
 8   longitude                62642 non-null  float64
 9   yearsofexperience        62642 non-null  float64
 10  yearsatcompany           62642 non-null  float64
 11  basesalary               62642 non-null  int64
 12  stockgrantvalue          62642 non-null  int64
 13  bonus                    62642 non-null  int64
 14  gender                   62642 non-null  object
 15  Race                     62642 non-null  object
 16  Education                62642 non-null  object
dtypes: float64(4), int64(4), object(9)
memory usage: 8.1+ MB

In [9]:
# Display dataframe
salaries_df.head()

,timestamp,date,company,level,title,totalyearlycompensation,location,latitude,longitude,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Race,Education
0,6/7/2017 11:33,2017-06-07,Oracle,L3,Product Manager,127000,"Redwood City, CA",37.486324,-122.232523,1.5,1.5,107000,20000,10000,Unknown,Unknown,Unknown
1,6/10/2017 17:11,2017-06-10,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",37.779026,-122.419906,5.0,3.0,0,0,0,Unknown,Unknown,Unknown
2,6/11/2017 14:53,2017-06-11,Amazon,L7,Product Manager,310000,"Seattle, WA",47.603832,-122.330062,8.0,0.0,155000,0,0,Unknown,Unknown,Unknown
3,6/17/2017 0:23,2017-06-17,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",37.368830,-122.036349,7.0,5.0,157000,180000,35000,Unknown,Unknown,Unknown
4,6/20/2017 10:58,2017-06-20,Microsoft,60,Software Engineer,157000,"Mountain View, CA",37.389389,-122.083210,5.0,3.0,0,0,0,Unknown,Unknown,Unknown

In [10]:
# Check dataframe's info
layoffs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2545 entries, 0 to 2544
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              2545 non-null   object
 1   location             2545 non-null   object
 2   industry             2543 non-null   object
 3   total_laid_off       2545 non-null   int64
 4   percentage_laid_off  1694 non-null   float64
 5   date                 2543 non-null   object
 6   stage                2539 non-null   object
 7   country              2545 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 159.2+ KB

In [11]:
# Display dataframe
layoffs_df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country
0,N26,Berlin,Finance,71,4.0,2023-04-28,Series E,United States
1,Providoor,Melbourne,Food,0,100.0,2023-04-28,Unknown,Australia
2,Dropbox,SF Bay Area,Other,500,16.0,2023-04-27,Post-IPO,United States
3,Vroom,New York City,Transportation,120,11.0,2023-04-27,Post-IPO,United States
4,Greenhouse,New York City,Recruiting,100,12.0,2023-04-27,Private Equity,United States

In [32]:
# Copy layoffs_df
copy_layoff_df = layoffs_df

In [35]:
# Create a dataframe to hold only the STEM companies found in salaries_df
stem_df = copy_layoff_df[copy_layoff_df['company'].isin(salaries_df['company'])]

In [34]:
stem_df.shape

(517, 8)